body{
    height: 100vh;
    width: auto;
    padding: 5px;
    /* border: solid 1px black; */
    display: grid;
    grid: 10% 90% / 1.75fr 7fr;

    grid-template-areas: 
    "header header"
    "sidebar main"
    ;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Header Styles CSS */
header{
    /* background-color: aqua; */
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

header img{
    cursor: pointer;
}

#menu-area{
    justify-self: flex-start;
}

#menu-area img{
    padding: 5px;
}

#logo{
    margin: 0 0 1px 10px;
}

#search-area{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#search-area div{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
}

#search-area div img{
    margin: 2px 0 0 7px;
}

#search-area input{
    width: 400px;
    height: 30px;
}

#user-area{
    justify-self: flex-end;
    display: flexbox;
}

#user-area img{
    margin-left: 20px;
}


/* Main Styles CSS */
main{
    /* background-color: lightgrey; */
    /* border: 1px solid black; */
    grid-area: main;

    display: grid;
    grid: repeat(3, 1fr) / repeat(4, 1fr);

    grid-template-areas: 
    "item-1 item-2 item-3 item-4"
    "item-5 item-6 item-7 item-8"
    "item-9 item-10 item-11 item-12"
    ;

    justify-content: space-evenly;
    margin-top: 10px;
    gap: 35px 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: space-between;
    cursor: pointer;
}
/* 
.item-1{
    grid-area: item-1;
}

.item-2{
    grid-area: item-2;
}

.item-3{
    grid-area: item-3;
}

.item-4{
    grid-area: item-4;
}

.item-5{
    grid-area: item-5;
}

.item-6{
    grid-area: item-6;
}

.item-7{
    grid-area: item-7;
}

.item-8{
    grid-area: item-8;
}

.item-9{
    grid-area: item-9;
}

.item-10{
    grid-area: item-10;
}

.item-11{
    grid-area: item-11;
}

.item-12{
    grid-area: item-12;
} */

/* Card Styles CSS */

.details{
    height: 85px;
    display: grid;
    grid: repeat(2, minmax(42px, 85px))/1fr 4fr;

    grid-template-areas: 
    "profile-avatar title"
    "profile-avatar infos"
    ;
}

.profile{
    grid-area: profile-avatar;
    margin-top: 15px;
}

.title{
    grid-area: title;
    font-size: 12px;
    font-weight: bold;
}

.infos{
    grid-area: infos;
    font-size: 12px;
}


/* Navbar Styles CSS */
aside{
    /* background-color: wheat; */
    /* border: 1px solid red; */
    grid-area: sidebar;
}

aside a section{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

aside a section p{
    margin-left: 15px;
    font-size: 14px;
}

aside a section img{
    margin-left: 5px;
    height: 24px;
    width: 24px;
}

